<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shoping Cart</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script data-require="angular.js@<2" data-semver="1.5.8" src="https://code.angularjs.org/1.5.8/angular.js"></script>
    <script src="app.js"></script>

</head>
<body ng-app="ShoppingApp" style="background-color: #2874f0">
<br/>
<div class="container" ng-controller="myshop">
    <div class="col-lg-6">
        <div class="panel" style="box-shadow: none">
            <div class="panel-header" style="padding: 10px;border-bottom: 1px solid #dddddd">MY CART ({{data.length}})</div>
            <div class="panel-body">
                <div class="row" style="border-bottom: 1px solid #ddd;padding: 4px;" ng-repeat="da in data">
                    <div class="col-lg-4 text-center">
                        <img src="{{da.img}}" alt="asus" class="img img-responsive "
                             style="height: 86px;width: 50px;;margin-left: 21px;">
                        <br/>
                        <div class="row">
                            <div class="col-lg-2">
                                <button class="btn btn-sm btn-default" style="border-radius: 15px"
                                        ng-click="substract(da.id)" ng-disabled="da.quantity < 2"> -
                                </button>
                            </div>
                            <div class="col-lg-5"><input type="text" class="form-control" style="border-radius: 0px"
                                                         ng-model="da.quantity" ng-change="addQunty(da.id,da.quantity)"></div>
                            <div class="col-lg-2">
                                <button class="btn pull-left btn-sm btn-default"
                                        style="border-radius: 15px;margin-left: -25px;" ng-click="add(da.id);"> +
                                </button>
                            </div>
                        </div>


                    </div>
                    <div class="col-lg-8">
                        <p>{{da.name}}</p>
                        <br/>
                        <p>₹{{da.totalPrice}}</p>
                        <br/>
                        <br/>
                        <a class="text-center" ng-click="remove(da.id)">Remove</a>
                    </div>
                </div>
                <!--<div class="row" style="border-bottom: 1px solid #ddd;padding: 4px;">
                    <div class="col-lg-4 text-center">
                        <img src="img/lenevo.jpeg" alt="asus" class="img img-responsive " style="height: 86px;width: 50px;;margin-left: 21px;">
                        <br/>
                        <div class="row">
                            <div class="col-lg-2"><button class="btn btn-sm btn-default" style="border-radius: 15px"> - </button></div>
                            <div class="col-lg-5"><input type="text" class="form-control" style="border-radius: 0px"></div>
                            <div class="col-lg-2"><button class="btn pull-left btn-sm btn-default"  style="border-radius: 15px;margin-left: -25px;"> + </button></div>
                        </div>



                    </div>
                    <div class="col-lg-8">
                        <p>Lenovo Vibe K5 Note (Grey, 64 GB)</p>
                        <br/>
                        <p>₹13,499</p>
                        <br/>
                        <br/>
                        <a class="text-center">Remove</a>
                    </div>
                </div><br/>
                <div class="row" style="padding: 4px;">
                    <div class="col-lg-4 text-center">
                        <img src="img/mi.jpeg" alt="asus" class="img img-responsive " style="height: 86px;width: 50px;;margin-left: 21px;">
                        <br/>
                        <div class="row">
                            <div class="col-lg-2"><button class="btn btn-sm btn-default" style="border-radius: 15px"> - </button></div>
                            <div class="col-lg-5"><input type="text" class="form-control" style="border-radius: 0px"></div>
                            <div class="col-lg-2"><button class="btn pull-left btn-sm btn-default"  style="border-radius: 15px;margin-left: -25px;"> + </button></div>
                        </div>



                    </div>
                    <div class="col-lg-8">
                        <p>Redmi Note 4 (Dark Grey, 64 GB) </p>
                        <br/>
                        <p>₹12,999</p>
                        <br/>
                        <br/>
                        <a class="text-center">Remove</a>
                    </div>
                </div><br/>-->
            </div>
            <div class="panel-footer" style="background-color: white;padding: 19px;margin-top: -16px;">
                <div class="row">
                    <div class="col-lg-6">
                        <button class="btn btn-default" style="width: 240px">CONTINUE SHOPPING</button>
                    </div>
                    <div class="col-lg-6">
                        <button class="btn btn-default" style="width: 240px;background-color: #fb641b;color: white">
                            PLACE ORDER
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>